
.piece {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    height: 16px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 16px;
  }

  .selected {
    background: #0f0;
  }
  
  .piece:focus {
    outline: none;
  }
  
  .kbd-navigation .piece:focus {
    background: #ddd;
  }
  
  